.wrapper {
    width: 100%;
    max-width: 900px;
    padding: 20px;
    padding-top: 100px; /* Add space at the top */
    text-align: center;
    box-sizing: border-box;
  }
  
  .title {
    font-size: 15px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .section-title {
    font-size: 15px;
    color: red;
    margin: 15px 0;
  }
  
  .charts-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Space between charts */
    margin: 20px 0;
  }
  
  .chart-container {
    width: 45%; /* Each chart takes up 45% of the row */
    max-width: 300px; /* Limit chart size */
  }
  
  p {
    font-size: 14px;
    margin: 5px 0;
  }
  
  p{
    font-size: 10px;
  }
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .charts-row {
      flex-direction: column; /* Stack charts vertically on smaller screens */
    }
  
    .chart-container {
      width: 90%; /* Charts take full width on small screens */
    }
  }
  